body {
  background-image: url("Images/sun-sunlight-bright-outdoor-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.display-weather-container {
  width: 80%;
  border: 3px solid;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
}

.today-forcast {
  border: 3px solid red;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
}

.today-weather-data {
  border: 3px solid purple;
  width: 60%;
  margin-top: 20px;
}

.today-weather-img {
  font-size: 10rem;
  width: 40%;
  border: 1px solid;
  display: flex;
  justify-content: center;
}

.today-txt {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0;
}

.city-name {
  font-size: 3rem;
}

.today-temperature {
  font-size: 1.5rem;
  color: hsl(0, 0%, 60%);
  font-weight: 500;
}

.today-weather-description {
  font-size: 1.5rem;
  color: hsl(0, 0%, 60%);
  font-weight: 500;
  line-height: 0px;
}

.daily-forcast {
  border: 3px solid green;
  display: flex;
  grid-column: 1 / 4;
  grid-row: 4 / 6;
  justify-content: space-around;
}

.daily-weather-box {
  border: 3px solid orange;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.day {
  border: 1px solid purple;
  font-size: 1.5rem;
  font-weight: bold;
}

.daily-weather-img {
  border: 1px solid red;
  font-size: 2rem;
  margin-bottom: 10px;
}

.daily-weather-temperature {
  border: 1px solid blue;
  font-size: 1.5rem;
}
