body {
  background-image: url("Images/sun-sunlight-bright-outdoor-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.display-weather-container {
  animation: fadeInSlide 0.5s ease-out forwards;
  width: 80%;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  margin: 0 auto;
}

.today-forcast {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
}

.today-weather-data {
  width: 60%;
  margin-top: 20px;
}

.today-weather-img {
  font-size: 10rem;
  width: 40%;
  display: flex;
  justify-content: center;
}

.today-txt {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0;
}

.city-name {
  font-size: 3rem;
}

.today-temperature {
  font-size: 1.5rem;
  font-weight: 500;
}

.today-weather-description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0px;
}

.daily-forcast {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 4 / 6;
  justify-content: space-around;
  gap: 20px;
}

.daily-weather-box {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: center;
  width: 200px;
  z-index: 1;
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.day {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.daily-weather-img {
  font-size: 3rem;
  margin-bottom: 10px;
}

.daily-weather-temperature {
  margin-top: 16px;
  font-size: 1.5rem;
}

.weather-search-input {
  padding: 8px;
  width: 40%;
  font-size: 1.3rem;
  border-radius: 16px;
}

.weather-searc-btn {
  padding: 8px 12px;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.weather-searc-btn:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.nav-search {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (768px <= width <= 900px) {
  .daily-weather-box {
    width: 100px;
  }

  .daily-weather-img {
    font-size: 2rem;
  }

  .day {
    font-size: 1.2rem;
  }
}

@media (425px <= width <= 768px) {
  body {
    height: auto;
  }

  .daily-weather-box {
    border: 1px solid;
  }

  .daily-weather-img {
    font-size: 2rem;
  }

  .day {
    font-size: 1.2rem;
  }

  .today-forcast {
    margin: 8px;
  }

  .daily-forcast {
    flex-wrap: wrap;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .display-weather-container {
    display: block;
  }

  .daily-forcast {
    gap: 10px;
  }

  .nav-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .weather-search-input {
    width: 70%;
  }

  .weather-searc-btn {
    width: 300px;
    padding: 16px 8px;
  }
}

@media (425px <= width <= 660px) {
  .today-forcast {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8px;
  }

  .city-name {
    margin-bottom: 0px;
  }

  .today-txt {
    margin-bottom: 0px;
  }

  .today-weather-img {
    margin-bottom: 0px;
    font-size: 9rem;
  }
}
